body {
padding-left: 10px;
padding-right: 10px;
background-color: #001f3f;
color: #ccc; 
font-family: cambria;
font-size: 25px;

}

h1{
	font-size: 35px;
border: 2px solid #00F;
padding: 10px;
margin-top: ;
margin-bottom: 30px;
}

h2{
font-size: 23px;
border: 2px solid #AAA;
padding: 5px;
margin-top: 15px;
margin-bottom: 15px;
}

li {
	font-size: 20px;
margin-bottom: 0;
align-content: center;
padding: auto;
text-align-last: left;
}


/*botones*/
* {
margin:0px;
padding:0px;
box-sizing: border-box;
}

#header {
margin:auto;
width:90%;
max-width: 500px;
font-family:cambria;



}

ul, ol {
list-style:none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav &gt; li {
float:left;
}

.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

}

.slider-container {
    width: 300px;
}

/* Estilos para el thumb en Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Estilos para el thumb en otros navegadores */
input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}